.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 47%;
    height: 100%;
    padding: 1%;
    background: linear-gradient(
        to bottom left,
        var(--background-color),
        var(--background-color03)
    );
    border: 2px solid var(--background-color);

    border-radius: 5%;
    box-shadow: -0.4rem 0.4rem black;
}

.containerRowOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    height: 70%; 
    align-items: center;
}

.containerLeft {
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.containerLeft img {
    width: 100%;
    border-radius: 50%;
    box-shadow: -0.3rem 0.3rem black;
}

.containerRight {
    width: 22%;
}

.containerBottom {
    height: 25%; 
}

