.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 47%;
    height: 100%;
    padding: 1rem;
    background: linear-gradient(
        to bottom left,
        var(--background-color),
        var(--background-color03)
    );
    border: 2px solid var(--background-color);

    border-radius: 5%;
    box-shadow: -0.4rem 0.4rem black;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-b;
    align-content: center;
}

.containerProfile {
    display: flex;

}

.containerProfile img {
    width: 18rem;
    border-radius: 50%;
    border: 0.6rem Solid var(--color02);
    box-shadow: -0.3rem 0.3rem black;
}


