.container {
    background-color: pink;
    height: 28rem;
    width: 51%;
    border: 2px solid var(--background-color02);
    border-radius: 5%;
    padding: 1rem;
    box-shadow: -0.4rem 0.4rem black; 
    overflow-y: scroll;   
}

@media (max-width: 768px){
    .container {
        margin-top: 2rem;
        width: 75%;
        height: 35rem;
    }
}

@media (max-width: 420px){
    .container {
        margin-top: 2rem;
        width: 95%;
        height: 30rem;
    }
}