.container {
    background-color: pink;

    width: 51%;
    border: 2px solid var(--background-color02);
    border-radius: 5%;
    padding: 1rem;
    box-shadow: -0.4rem 0.4rem black;    
}

@media (max-width: 768px){
    .container {
        margin-top: 2rem;
        width: 75%;
        height: 35rem;
    }
}