* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DotGothic16', sans-serif;
}

:root {
  --background-color: #58641d;
  --color: #dbd2e0;
  --color02: #7b904b;
  --background-color02: #273b09;
  --background-color03: #002400
}