* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DotGothic16', sans-serif;
}

:root {
  --background-color: #58641d;
  --color: #dbd2e0;
  --color02: #7b904b;
  --background-color02: #273b09;
  --background-color03: #002400
}

@media (max-width: 1088px){
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px){
  html {
      font-size: 87.75%;
  }
}