.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerNav{
    height: 26%;
}

.containerInfo {
    height: 74%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px){
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .containerNav{
        height: 100%;
        margin-bottom: 2rem;
    }
    .containerInfo {
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
}

@media (max-height: 610px){
    .container {
        height: 100%;
    }
}
