.container {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20%; 
    box-shadow: -0.3rem 0.3rem black;
}