.container{
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 20%; 
    box-shadow: -0.3rem 0.3rem black;
}

.container img{
    width: 100%;
    padding: 10%;
}

.rotate{
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
       transform: rotate(359deg); 
    }
}