.container {
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 3%;
    align-content: center;
    justify-content: center;
    border-radius: 20%; 
    box-shadow: -0.3rem 0.3rem black;
}

.container p {
    font-size: 1rem;
}